.product-detail {
    width:380px;
    height: 80vh;
    top: 195px;
}

@media (min-width: 640px) {
  .product-detail {
    max-width: 384px;
    
  }
}

@media (min-width: 768px) {
  .product-detail {
    max-width: 448px;
    width:300px;
    top: 140px
  }
}

@media (min-width: 1024px) {
  .product-detail {
    max-width: 512px; 
     
  }
}

@media (min-width: 1245px) {
  .product-detail {
    max-width: 576px;
    width:270px 270px;
    top: 145px
  }
}

@media (min-width: 1536px) {
  .product-detail {
    max-width: 672px; 
    width:380px;
    top: 190px
  }
}

