.BgLogin {
    background-image: url('https://res.cloudinary.com/dtppkikkr/image/upload/v1718263692/CDCA/BackGround/BgLoginRegister_r4rf7z.png');
    background-size: h-full;
    background-position: 10px 110px;

  }