.BgLogin {
    background-image: url('https://res.cloudinary.com/dtppkikkr/image/upload/v1718263692/CDCA/BackGround/BgLoginRegister_r4rf7z.png');
    background-size: h-full;
    background-position: 10px 110px;

  }

  @media (min-width: 1245px) {
    .BgLogin {
      max-width: h-screen;
      width:h-screen;
      background-position: 10px 140px;
      background-size: 90vh;
    }
  }