.bgRegister {
    background-image: url('https://res.cloudinary.com/dtppkikkr/image/upload/v1718355433/CDCA/BackGround/CDCAv2_forxlx.png');
    background-size: cover;
    background-position: 100% 1% ;

  }