.login {
    background-image: url('https://img.freepik.com/premium-vector/set-soccer-player-silhouette-illustration-football-player-silhouette_614983-3608.jpg'); /* Ruta de tu imagen */
    background-size: h-screen;
    background-position: right;
  }